<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="../static/assets/apple-icon-180x180.png">
  <link href="../static/assets/favicon.ico.ico" rel="icon">

  <title>Tools page</title>

<link href="../static/main.3f6952e4.css" rel="stylesheet"></head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
 <!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="./index.html" title="">01 : Home</a></li>
          <li><a href="./works.html" title="">02 : Works</a></li>
          <li><a href="./about.html" title="">03 : About me</a></li>
          <li><a href="./contact.html" title="">04 : Contact</a></li>
          <li><a href="./components.html" title="">05 : Tools</a></li>
        </ul>


      </div> 
    </div>
  </nav>
</header>

<div class="section-container">
  
<!-- Add your site or app content here -->
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">

        <div class="template-example">
          <h2 class="template-title-example">Information</h2>
          <p>All the tools that have been published in this page are created by me on own, and some of them are really cool.
            I am posting them here because you may find some of these useful. If you like something and if you wish there could be any changes in any one of the tool
            just put them in the comment section that is provided at the bottom of this page. Thanks guys! I hope you will
            enjoy those 😄😊✌.

        </div>


        
        <div class="template-example">
          <h2 class="template-title-example">Items</h2>
          <div class="row">
            <div class="col-md-6">
              <h3 class="template-title-example">For all</h3>
              <ul>
                <li> #1 Password checker- check wether your passowrd has been ever hacked</li>
                <li>#2 Insta like gainer- Free tool to get you any number of likes for your posts</li>
                <li>#3 Currency converter- Know today's currency value of any country's currency in INR </li>
                <li>#Image combiner- Combine your cool photos as a single pdf and save it </li>
              </ul>
            </div>
            <div class="col-md-6">
              <h3 class="template-title-example">For programmers</h3>
              <ol>
                <li>Yet to come</li>
                <li></li>
                <li></li>
                <li></li>
              </ol>
            </div>
          </div>
        </div>
        
      </div>

      <div class="col-xs-12 col-md-6">
        <div class="template-example">
          <h2 class="template-title-example">DATE IS <strong>{{date}}</strong> </h2>

          
          <div class="row">
            
            <div class="col-md-6">

            </div>

          </div>


          


        </div>

        <div class="template-example">
          <div class="row">
            <div class="col-md-6">
              <h3 class="template-title-example"></h3>
              <div class="row">
                  <div class="col-md-6">
                  <p><a href="passc.html">Password checker</a></p>
                  <p><a href="" class="btn btn-primary">Instagram like gainer </a></p>
                  <p><a href="" class="btn btn-primary btn-sm">Currency converter</a></p>
                    <p><a href="" class="btn btn-primary btn-sm">Image combiner</a></p>
                </div>
              </div>


            </div>

            <div class="col-md-6">
              <div class="row">
                  <div class="col-md-6">
                  <p><a href="" class="btn btn-default btn-lg"></a></p>
                  <p><a href="" class="btn btn-default"></a></p>
                  <p><a href="" class="btn btn-default btn-sm"></a></p>
                </div>
              </div>

            </div>
          </div>
        </div>
        
        <div class="template-example">
          <h2 class="template-title-example">Comments</h2>

            <div class="form-group">
              <label for="exampleInputEmail1">By</label>
              <input class="form-control" id="exampleInputEmail1" placeholder="Please enter your name">
            </div>

            <div class="form-group">
              <select class="form-control">
                <option>About passwd checker</option>
                <option>About insta bot</option>
                <option>About currency converter</option>
                <option>About Image combiner</option>
              </select>
            </div>

            <div class="form-group">
              <label class="checkbox-inline">
                <input 
                type="checkbox" id="inlineCheckbox1" value="option1"> Email me a copy
              </label>
              <label class="checkbox-inline">
                <input type="checkbox" id="inlineCheckbox2" value="option2"> I am a human
              </label>
            </div>

            <div class="form-group">
              <textarea class="form-control" rows="3" placeholder="Enter your message"></textarea>
            </div>
            
            <button type="submit" class="alert alert-success" role="alert">Post</button>
        </div>




      </div>
    </div>
  </div>
</div>

<footer class="footer-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>© UNTITLED | Website created with <a href="http://www.mashup-template.com/" title="Create website with free html template">Mashup Template</a>/<a href="https://www.unsplash.com/" title="Beautiful Free Images">Unsplash</a></p>
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

--> <script type="text/javascript" src="../static/main.70a66962.js"></script></body>

</html>