
<!doctype html>
<html lang="en">
<head>
<meta name="description" content="loading">
<meta name="keywords" content="programming,python,password,checking,code,leak">

<link rel="stylesheet" href="../static/passc.css" type="text/css" media="all">
    <link href="../static/assets/favicon.ico.ico" rel="icon">

    <title>The Password Checker </titLe>
    </head>



<body>

<header class="header">
  <div class="container">
    <div class="row row--justify-content-between row--menu">
      <div class="title">
        <a href="/"><img src="../static/assets/images/safe.jpg" alt="The Password checker"></a>
      </div> <!-- end header -->
      <div class="nav-toggle">
        <span class="nav-toggle-stripe"></span>
        <span class="nav-toggle-stripe"></span>
        <span class="nav-toggle-stripe"></span>
      </div>
      <div class="menu">
        
      </div> <!-- end menu -->
    </div>
  </div>
</header>

  <div class="content container container--small">
      <h1 style="font-family:'Times New Roman'">Welcome to this great invention of checking passwords</h1><br>

      <span class="hide-mobile"></span>

      <p> In the world of cyber attacks everywhere. It is neccessary to stay safe, knowing that wether our passwords are 
          safe or been hacked.Rapdily our own private passwords have been leaked from big company's servers like facebook, instagram.
          But we never know that, and that's not easy too. But here comes our simple powerful tool for checking that. 
          This tool helps to access list of leaked password databases and to check wether our password is being in one of them that have been leaked and hacked.</p>

      <p>This tool uses the shaw hasing technology so that your password is 200 percent safe to enter here and your password is not even given to server directly so there is no way to misuse your passwords here, You can trust this undoubtably and gain the benifit.</p></span>

      <p> If you find out the chances of finding your password in leaked and hacked list given by tool's output, <strong>You are in great danger!!!</strong>
      You secure accounts could be hacked at anytime, So please change it immediately.</p>
      </div>


      <!-- belangrijk! -->
      <form method="post" action="finding" name="lf" class="form">
        <div class="row row--justify-content-between">
          <div class="form-group">
            <label for="name1">Enter here</label><br>
            <input type="password" name="inppassword" id="name1" value="" size="25" autofocus placeholder="Password to be checked" required>
          </div>
        </div>
        <div class="row row--justify-content-center">
          <div class="form-group form-group--color">
            <button class="btn btn--primary" type="submit">Click to check</button>
          </div>
        </div>
        <img class="form__image" src="../static/assets/images/safezone.jpg" alt="100 percent safe">
      </form>
      <!-- einde belangrijk! -->
</body>
</html>
